@font-face {
  font-family: "iconfont"; /* Project id 4661615 */
  src: url('iconfont.woff2?t=1724657751374') format('woff2'),
       url('iconfont.woff?t=1724657751374') format('woff'),
       url('iconfont.ttf?t=1724657751374') format('truetype'),
       url('iconfont.svg?t=1724657751374#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-codestructure:before {
  content: "\e971";
}

.icon-command:before {
  content: "\e972";
}

.icon-test:before {
  content: "\e976";
}

.icon-virus:before {
  content: "\e977";
}

.icon-stop:before {
  content: "\e978";
}

.icon-datingqiuzhu:before {
  content: "\e6aa";
}

.icon-fangdongzhizu:before {
  content: "\e6ab";
}

.icon-liwu:before {
  content: "\e6ac";
}

.icon-jiudianyuding:before {
  content: "\e6ad";
}

.icon-peixun:before {
  content: "\e6ae";
}

.icon-quanbufenlei:before {
  content: "\e6af";
}

.icon-shangjiaruzhu:before {
  content: "\e6b0";
}

.icon-dengluzhuangtai-zaixian:before {
  content: "\ec8f";
}

.icon-dengluzhuangtai-lixian:before {
  content: "\ec90";
}

.icon-zhuangtai:before {
  content: "\e6bc";
}

.icon-tuichu:before {
  content: "\e647";
}

.icon-Trips:before {
  content: "\e897";
}

.icon-Copy:before {
  content: "\e898";
}

.icon-Create:before {
  content: "\e899";
}

.icon-Delete:before {
  content: "\e89a";
}

.icon-Edit:before {
  content: "\e89b";
}

.icon-Enable:before {
  content: "\e89c";
}

.icon-Location:before {
  content: "\e89d";
}

.icon-Lock:before {
  content: "\e89e";
}

.icon-Move:before {
  content: "\e89f";
}

.icon-Records:before {
  content: "\e8a0";
}

.icon-Notification:before {
  content: "\e8a1";
}

.icon-Statistics:before {
  content: "\e8a2";
}

.icon-Stop:before {
  content: "\e8a3";
}

.icon-Visualization:before {
  content: "\e8a4";
}

